
.fix-header{
    top: 0;
    z-index: 99;
    width: 100%;
    position: relative; /*fixed*/
}
.div-ImCard{
    position: relative;
}
.im-Card{
        
    width:"30%";
    height:"30%"
    /* style={{
        width: "25px",
        height: "35px",}} */
}

.title{
    padding: 5px 10px 66px 10px;
    font-weight: 1px bold;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.pointer-Item{
    cursor: "pointer"; 
    
    
}
.pointer-Item:hover{
    color:black;
    background-color:#DDDDDD; 
    
}
/* .sort-Product{
    
}
.pointer-Link{
    color:black
}    */
.pointer-Link:hover{
    color:black;
    
    
}
.title-Toggle{

    font-weight: 1px bold;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.title-Icon{
    font-weight: 1px bold;
    font-size: 1.125em;
    padding: 10px -20px 20px 1px  ;
}
.img-Icon{
    width: 5%;
    max-width: 7%; 
    margin-bottom: -8px; 
    
}


.modal-Popup-DetailProduct{
   max-width: 50%;
   margin-Top: 15%; 
}
.col-Product{
    display:flex;
    justify-content: center;
    width: 100%;
    max-width:100%;           
    height: 50%;
    padding: 5% 3.125em;
}
.product-ListOnUser{
    width: 25%; 
    display:flex;

    
}
@media only screen and (max-width:46.1875em){
    .product-ListOnUser{
        width:50%; 
        display:inline-block;
        padding: 0 2px 0 0px
        
    }
    .title{
        font-size: 23px;

    }
    .cart{
        display:none;
    }
   .xxx{
       width: 100%;
       display:block;
   }
   
    
}
